*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    background-color: #fe406617;
}
.left-side{
    width: 30vw;
    height: 100vh;
    background-color: #fe4066;
}
.right-side{
    width: 70vw;
    height: 100vh;
    background-color: #fe406617;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 200px;
    left: calc(15vw - 100px);
}
.select-container {
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
  .select-container select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fe406617;
    cursor: pointer;
    font-size: 16px;
    color: black;
    outline: none;
  }

  .select-container::after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555; 
  }
  h2{
    margin-bottom: 20px;
    color: white;
  }
  button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    background-color: #ff9cb0;
    border-color: transparent;
    color: white;
    transition: 1s;
  }
  button:hover{
    color: black;
    background-color: white;
  }
  button.top-button{
    position: absolute;
    top: 20px;
    left: calc(15vw - 100px);
  }
table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  th {
    background-color: #fe4066;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  tr {
    background-color: #fff;
  }
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  td {
    padding: 8px 15px;
    text-align: center;
  }
  tr:hover{
    background-color: #ff9cb0;
    color: white;
    cursor: pointer;
  }
  table {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
.books-count{
    position: absolute;
    bottom: 50px;
    right: calc(35vw - 100px);
    background-color: #fe4066;
    width: 200px;
    height: 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.434);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
button>a{
  text-decoration: none;
  color: white;
  transition: 1s;
}
button>a:hover{
  color: black;
}
.current-time{
  position: absolute;
  top: 50px;
  right: calc(35vw - 100px);
  background-color: #fe4066;
  width: 200px;
  height: 60px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.434);
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.add-book{
  width: 70px;
  height: 70px;
  font-size: 70px;
  background-color: #fe4066;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 50px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
.panel{
  position: absolute;
  top: calc(50vh - 300px);
  left: calc(50vw - 200px);
  width: 400px;
  height: 600px;
  background-color: #fe4066;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 35px 15px #0f0f0f78;
  display: none;
}
.panel>h2{
  font-size: 30px;
}
.panel>img{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  cursor: pointer;
}
input[type="text"],input[type="number"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: transparent;
  box-sizing: border-box;
  font-size: 20px;
}
