*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    display: flex;
    flex-direction: row;
}
.left-side{
    width: 30vw;
    height: 100vh;
    background-color: #fe4066;
}
.right-side{
    width: 70vw;
    height: 100vh;
    background-color: #fe406617;
}
.select-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 200px;
    left: calc(15vw - 100px);
}
.select-container {
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
  .select-container select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fe406617;
    cursor: pointer;
    font-size: 16px;
    color: black;
    outline: none;
  }

  .select-container::after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555; 
  }
  h2{
    margin-bottom: 20px;
    color: white;
  }
  button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    background-color: #ff9cb0;
    border-color: transparent;
    color: white;
    transition: 1s;
  }
  button:hover{
    color: black;
    background-color: white;
  }
  button.top-button{
    position: absolute;
    top: 20px;
    left: calc(15vw - 100px);
  }