*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    display: flex;
    flex-direction: row;
}
.left-side{
    width: 30vw;
    height: 100vh;
    background-color: #fe4066;
}
.right-side{
    width: 70vw;
    height: 100vh;
    background-color: #fe406617;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 200px;
    left: calc(15vw - 100px);
}
.select-container {
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
  .select-container select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fe406617;
    cursor: pointer;
    font-size: 16px;
    color: black;
    outline: none;
  }

  .select-container::after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555; 
  }
  h2{
    margin-bottom: 20px;
    color: white;
  }
  button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    background-color: #ff9cb0;
    border-color: transparent;
    color: white;
    transition: 1s;
  }
  button:hover{
    color: black;
    background-color: white;
  }
  button.top-button{
    position: absolute;
    top: 20px;
    left: calc(15vw - 100px);
  }
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  th {
    background-color: #fe4066;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  tr {
    background-color: #fff;
  }
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  td {
    padding: 8px 15px;
    text-align: center;
  }
  tr:hover {
    background-color: #66afe9;
    color: #fff;
    cursor: pointer;
  }
  td:hover {
    background-color: #ff9cb0;
  }
  table {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
.books-count{
    position: absolute;
    bottom: 50px;
    right: calc(35vw - 100px);
    background-color: #fe4066;
    width: 200px;
    height: 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.434);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
button>a{
  text-decoration: none;
  color: white;
  transition: 1s;
}
button>a:hover{
  color: black;
}